*{
  h2{
    font-size: 13px;
    color: #333333;
    font-weight: normal;
    margin: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  box-sizing: border-box;
}
.am-tab-bar-tab .iconfont {
  font-size: 20px;
}